<div class='wrapper'>
  <div class='left-side'>
    <div class='app-title'>タスク管理アプリ</div>
  </div>
  <div class='right-side'>
    <div class=new-task>
      <%= link_to "新規投稿", new_task_path %>
    </div>
  </div>
</div>
<div class='content-wrapper'>
  <div class='side-menu'>
  </div>
  <div class='main-task'>
  </div>
</div>