// index
.wrapper {
  display: flex;
  background-color: lightblue;
  height: 20vh;
  justify-content: space-between;
}

.left-side {
  width: 40vw;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.app-title {
  color: black;
  font-size: 25px;
}

.right-side {
  width: 20vw;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.new-task-btn {
  margin-right: 10px;
}

.new-task-btn a {
  text-decoration: none;
}

.content-wrapper {
  display: flex;
}

.side-menu {
  background-color: lightgray;
  width: 25vw;
  height: 80vh;
}

.tasks {
  overflow: scroll;
}

.task {
  padding: 20px 0 40px;
}

.task a {
  text-decoration: none;
}

.main-task {
  background-color: lightyellow;
  width: 75vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-content {
  width: 55vw;
  height: 60vh;
  background-color: skyblue;
  text-align: center;
}

.task-date {
  height: 10vh;
  font-size: 30px;
}

.task-title {
  height: 10vh;
  font-size: 40px;
}

.task-text {
  font-size: 30px;
}
// new
.new-task {
  background-color: lightgrey;
  font-size: 30px;
}

.new-task-form {
  text-align: center;
}

.actions {
  text-align: center;
}