.wrapper {
  display: flex;
  background-color: lightblue;
  height: 20vh;
}

.content-wrapper {
  display: flex;
}

.side-menu {
  background-color: lightgray;
  width: 25vw;
  height: 80vh;
}

.main-task {
  background-color: lightyellow;
  width: calc(100%-30vw);
  height: 80vh;
}